* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
a,
span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
.resolution {
  max-width: 1263px;
  margin-left: auto;
  margin-right: auto;
}
#hamburger {
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}
.desingNavigation {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 50%;
}
.navigacija {
  height: 50px;
}

.navigacija nav ul {
  display: flex;
  justify-content: space-evenly;

  list-style-type: none;
}

.navigacija nav ul li {
  margin-top: 10px;
  background-image: linear-gradient(
    to right,
    #76b852 0%,
    #8dc26f 51%,
    #76b852 100%
  );
  width: 100vh;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
.navigacija nav ul li span {
  display: grid;
  place-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#naslovna img {
  width: 100%;
}

.centerDivDesing {
  display: grid;
  place-content: center;
  /* margin-left: 12%; */
  margin-top: 50px;
}
.sectionDesing {
  display: flex;
}
.textDesing {
  width: 28%;
}

.pAboutDesing {
  position: relative;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pAboutDesing h2 {
  margin-bottom: 30px;
}
.pAboutDesing p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.76);
}

.aboutImgDesing img {
  width: 550px;
  margin-left: 300px;
  border-radius: 10px;
}
#sponsoredDesing {
  /* background-color: #91f5ad; */
  background-color: #620783a8;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.sponsoredh2 {
  display: grid;
  place-items: center;
}
#sponsored .imgSponsored {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sponsored .imgSponsored img {
  /* border: 1px red solid; */
  margin-left: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 120px;
  cursor: pointer;
}
.aboutImgDesing2 {
  margin-left: -300px;
}

.pAboutDesing2 {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* #numberH2 {
  display: grid;
  place-items: center;
} */
#numberDesing {
  background-color: #87ceeb;
  height: 100%;
}
.numberFlex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  /* flex-wrap: wrap; */
}

.numberFlex div span {
  margin-left: 35%;
  /* color: rgb(160, 107, 107); */
  color: rgb(160, 2, 2);
  font-size: 25px;
}
.numberFlex div p {
  padding-bottom: 5px;
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.numberFlex div {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}
.container .box {
  width: calc(33% - 10px);
  background: #f2f5ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.box .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}
.container .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}
.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
}
.box p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job {
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}
.rating i {
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
/* .btns {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button {
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
}
.btns button:first-child {
  background: none;
  margin-right: 5px;
}
.btns button:last-child {
  color: #fff;
  margin-left: 5px;
}
.btns button:first-child:hover {
  background: #8e44ad;
  color: #fff;
}
.btns button:hover {
  color: #fff;
} */

footer {
  background-color: #333333;
  color: #fff;
  padding-top: 50px;
}

footer h4 {
  margin-bottom: 10px;
}
footer .h4 {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}

footer .social-icons {
  display: flex;
}
footer .col-sm-4 ul li {
  margin-bottom: 12px;
  font-size: 18px;
}
footer .social-icons li {
  margin-right: 10px;
}

footer .social-icons li a {
  color: #fff;
  font-size: 24px;
}

#map {
  width: 100%;
  height: 300px;
}
#map iframe {
  height: 250px;
}
footer .rowCC {
  margin: 0;
  display: grid;
  place-content: center;
}
.footerContainer {
  display: flex;
  margin-left: -40%;
  justify-content: space-evenly;
}

#contact {
  margin-top: 120px;
  margin-right: 80px;
}
#contact button {
  width: 80px;
  height: 30px;
  margin-top: 5px;
  background-color: #256403;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#contactHome div {
  margin-top: 15px;
}
#contactHome label {
  display: block;
  padding-bottom: 3px;
}

#contactHome input {
  height: 50px;
  width: 240px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

#contactHome textarea {
  border: none;
  border-radius: 5px;
}
#contactHome h2 {
  margin-bottom: 30px;
}
@media (max-width: 1045px) {
  .container .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .container .box {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1262px) {
  .textDesing {
    width: 40%;
  }
  .pAboutDesing {
    position: relative;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .aboutImgDesing img {
    width: 500px;
    margin-left: 90px;
    border-radius: 10px;
  }
  .aboutImgDesing2 {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .desingNavigation {
    width: 80%;
  }

  .textDesing {
    width: 40%;
  }
  .pAboutDesing {
    position: relative;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .aboutImgDesing img {
    width: 500px;
    margin-left: 90px;
    border-radius: 10px;
  }
  .aboutImgDesing2 {
    margin-left: -10%;
  }
}
@media only screen and (min-width: 770px) and (max-width: 899px){
  .desingNavigation {
    width: 80%;
  }
  #centerOnama {
    margin-left: 50px;
  }
  .textDesing {
    width: 40%;
  }
  .pAboutDesing {
    position: relative;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .aboutImgDesing img {
    margin-top: 35px;
    width: 350px;
    margin-left: 90px;
    border-radius: 10px;
  }
  .aboutImgDesing2 {
    margin-left: -5%;
  }

}
@media only screen and (min-width: 601px) and (max-width: 769px) {
  .desingNavigation {
    width: 90%;
  }

  .aboutImgDesing {
    width: 100%;
  }
  .aboutImgDesing img {
    width: 650px;
    position: relative;
    left: 0%;
    top: 0%;
    margin-left: 300px;
    transform: translate(0%, 0%);
  }
  .sectionDesing {
    display: grid;
  }
  .textDesing {
    width: 50%;
  }
  .pAboutDesing {
    left: 103%;
  }
  .pAboutDesing p {
    text-align: center;
  }
  .aboutImgDesing {
    display: grid;
    place-items: center;
  }
  .aboutImgDesing img {
    width: 300px;
    position: relative;
    left: -0%;
    top: 60%;
    transform: translate(-50%, -50%);
  }

  .pAboutDesing {
    display: grid;
    place-items: center;
  }

  #centerPonuda img {
    margin-left: 830px;
    margin-right: 200px;
  }

  #centerPonuda .aboutImg {
    margin-bottom: 50px;
    display: grid;
    place-items: center;
  }

  .numberFlex {
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .numberFlex div span {
    display: grid;
    margin-left: 0%;
    display: grid;
    place-items: center;
  }
  .numberFlex div {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  footer #contact {
    display: none;
  }

  footer .row {
    margin-left: 140px;
  }

  footer iframe {
    width: 103%;
  }
}

/* /AAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .desingNavigation {
    display: none;
    position: relative;
    left: 50%;
    top: 0;
    background-color: black;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .navigacija {
    height: 50px;
  }

  .navigacija nav ul {
    display: grid;
    background-color: black;

    list-style-type: none;
  }

  .navigacija nav ul li {
    margin-bottom: 30px;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      black 0%,
      black 51%,
      black 100%
    );
  }

  .navigacija nav ul li span {
    display: grid;
    place-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #hamburger {
    display: block;
  }
  .sectionDesing {
    display: grid;
  }
  .textDesing {
    width: 50%;
  }
  .pAboutDesing {
    left: 100%;
  }
  .pAboutDesing p {
    text-align: center;
  }
  .aboutImgDesing {
    display: block;
  }
  .aboutImgDesing img {
    width: 300px;
    position: relative;
    left: -0%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .pAboutDesing h2 {
    margin-left: 98px;
  }

  #centerPonuda img {
    margin-left: 620px;
  }

  #centerPonuda .aboutImg {
    margin-bottom: 50px;
  }

  .numberFlex {
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .numberFlex div span {
    display: grid;
    margin-left: 0%;
    display: grid;
    place-items: center;
  }
  .numberFlex div {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  footer #contact {
    display: none;
  }

  footer .row {
    margin-left: 140px;
  }

  footer iframe {
    width: 103%;
  }
  /* #centerAbout {
    display: none;
  } */

  #sponsored .imgSponsored img {
    margin-left: 0px;
  }

  #mongeLogo {
    margin-right: 50px;
  }
  #viskasLogo {
    margin-right: 50px;
  }
  #purinaLogo {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 200000px) {
  #mongeLogo {
    margin-right: 0px;
  }
  #viskasLogo {
    margin-right: 0px;
  }
  #purinaLogo {
    margin-right: 0px;
  }
  #royalLogo {
    margin-right: 0px;
  }
  #josiLogo {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 460px) and (max-width: 769px) {
  #mongeLogo {
    margin-right: 50px;
  }
  #viskasLogo {
    margin-right: 0px;
  }
  #purinaLogo {
    margin-right: 50px;
  }
  #royalLogo {
    margin-right: 50px;
  }
  #josiLogo {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 289px) {
  #mongeLogo {
    margin-right: 30px;
  }
  #viskasLogo {
    margin-right: 30px;
  }
  #purinaLogo {
    margin-right: 30px;
  }
  #royalLogo {
    margin-right: 0px;
  }
  #josiLogo {
    margin-right: 0px;
  }
}
