@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#html,
#body {
  background-color: #131111;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px; /* Širina skrol trake */
}

::-webkit-scrollbar-thumb {
  background-color: #009900; /* Boja trake skrola */
  border-radius: 5px; /* Zaobljenost ivica trake skrola */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #009900;
}

#openNavModal:focus {
  box-shadow: none;
}

#navMenu nav {
  padding-inline: 30px;
}
#backgroundWallper img {
  width: 100%;
  height: 90vh;
  object-fit: contain;
}
#firstSection {
  margin-top: 50px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.topFlex,
.bottomFlex {
  display: flex;
}

.firstSectionDivDesing {
  width: 400px;
  height: 250px;
}

.textCard {
  text-align: center;
  display: grid;
  place-content: center;
  background-color: #33333333;
}

.textCard span {
  transform: scale(2.2);
  color: #009900;
}

.textCard p {
  font-size: 1.1rem;
  margin-top: 20px;
}
.imgCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.welcomeTitle h3 {
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;
}
#welcomeSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#welcomeSection div {
  text-align: center;
  margin-top: 100px;
  margin-inline: 45px;

  width: 450px;
}

#welcomeSection div h5 {
  font-size: 2.5rem;
  color: #009900;
}

#welcomeSection div p {
  font-size: 0.9rem;
  line-height: 25px;
}

#welcomeSection div a {
  color: #009900;
}

#about {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #010101;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.aboutFlex {
  display: flex;
  align-items: center;
}
.aboutLeft {
  width: 55%;
}

.aboutLeft div {
  width: 100%;
}
.aboutLeft div img {
  width: 100%;
}
.aboutRight {
  width: 45%;
}
.aboutRightContainer {
  width: 90%;
}

.aboutRight .aboutRightContainer h2 {
  font-size: 3.2rem;
}
.aboutRightBorder {
  border: 3px solid #009900;
  border-radius: 10px;
  margin-bottom: 30px;
}
.aboutRightContainer p {
  font-size: 1.1rem;
  line-height: 30px;
}

.aboutRightContainer button {
  width: 200px;
  height: 50px;
  color: whitesmoke;
  font-size: 1.1rem;
  background-color: #009900;
  border: none;
  margin-top: 10px;
}
.aboutRightContainer button:hover {
  background-color: #010101;
  border: 2px solid #009900;
  color: white;
}

#product {
  margin-top: 100px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00ec0067;
}

.productFlex {
  display: flex;
  align-items: center;
}
.productLeft {
  width: 55%;
}
.productItemContainer {
  display: flex;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 10px;
  height: 140px;
  padding-right: 5px;
}

.productItemIcon span {
  transform: scale(2);
  margin-right: 40px;
  color: white;
  margin-left: 40px;
  margin-top: -10px;
}

.productItemTXT h5 {
  font-size: 1.4rem;
}
.productItemTXT p {
  color: #ffffffaf;
  font-size: 1rem;
}

.productRight {
  width: 45%;
}

.productRight div {
  width: 100%;
  text-align: center;
}
.productRight div img {
  width: 65%;
}

#cooperation {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.cooperationFlex {
  display: flex;
  align-items: center;
}

.cooperationLeft,
.cooperationRight {
  width: 50%;
  margin-inline: 20px;
}

.cooperationLeftTXT h4 {
  font-size: 3rem;
  color: #009900;
}
.cooperationLeftTXT p {
  color: #ffffffc4;
  font-size: 0.95rem;
  line-height: 25px;
}
.cooperationLeftIMG {
  width: 100%;
}

.cooperationLeftIMG img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}

.cooperationCard {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-inline: 10px;
  height: 170px;
  padding-top: 5px;
}

.cooperationNumber p {
  font-size: 3rem;
  margin-right: 20px;
  background-color: #009900;
  padding-inline: 10px;
  border-radius: 50%;
}

.cooperationCardTXT {
  padding-top: 10px;
}
.cooperationCardTXT h5 {
  font-size: 1.5rem;
}

.cooperationCardTXT p {
  font-size: 0.9rem;
  color: #ffffffcf;
  line-height: 25px;
}
.cooperationGray {
  border-radius: 10px;
  background-color: #3333339f;
}

#object {
  margin-top: 100px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #3333339f;
  padding-top: 100px;
  padding-bottom: 100px;
}

.objectFlex {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.objectRightFlexTop,
.objectRightFlexBottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

.objectLeft {
  width: 80%;
}

.objectLeft h2 {
  font-size: 3.5rem;
  color: #009900;
}

.objectLeft p {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 30px;
}

.objectLeft button {
  text-decoration: none;
  color: whitesmoke;
  background-color: #009900;
  border: none;
  cursor: pointer;
  width: 230px;
  height: 55px;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: ease-in-out 0.3s;
}

.objectLeft button:hover {
  background-color: #009900a9;
}

.objectRight {
  width: 20%;
}

.objectRight {
  width: 100%;
}

.objectIMG {
  width: 35%;
  margin: 5px;
}

.objectIMG img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
}
#contact {
  text-align: center;
  margin-top: 100px;
}
.contactText {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.contactText h3 {
  font-size: 3rem;
  color: #009900;
}
.contactText p {
  font-size: 1rem;
  line-height: 28px;
}
.contactFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactCard {
  display: grid;
  place-content: center;
  margin-inline: 20px;
  width: 300px;
  height: 250px;
  background-color: whitesmoke;
  cursor: pointer;
  margin-bottom: 50px;
  border-radius: 60px;
  margin-top: 30px;
}

.contactFlex a {
  text-decoration: none;
}

.contactCard span {
  transform: scale(3);
  color: white;
  background-color: #009900;
  padding: 10px;
  border-radius: 50%;
}
footer {
  margin-top: 100px;
  border-top: 2px solid white;
}

.footerTopContent {
  background-color: #00ec0067;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footerTopContent h4 {
  font-size: 2.5rem;
}

.fb,
.ig {
  margin-top: 10px;
  font-size: 2rem;
  margin-inline: 20px;
  cursor: pointer;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}
#scrollToTop {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
#scrollToTop i {
  font-size: 0.9rem;
}

.footerBottomContent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #3333339f;
}

.footerBottomContent a {
  margin-inline: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1279px) {
  #firstSection {
    width: 1010px;
  }
  #welcomeSection div {
    width: 420px;
  }
  #cooperation {
    width: 100%;
  }

  .objectFlex {
    width: 100%;
  }

  .objectLeft {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  #firstSection {
    margin-top: 0px;
    width: 760px;
  }
  .firstSectionDivDesing {
    height: 200px;
  }
  .textCard span {
    margin-top: 20px;
    transform: scale(1.5);
  }

  .textCard p {
    font-size: 0.9rem;
  }

  .imgCard img {
    height: 200px;
  }

  .aboutLeft,
  .aboutRight {
    width: 50%;
  }
  .aboutRightBorder {
    border: 2px solid #009900;
    margin-bottom: 15px;
  }
  .aboutRight .aboutRightContainer h2 {
    font-size: 1.5rem;
  }

  .aboutRightContainer p {
    font-size: 0.9rem;
    line-height: 26px;
  }

  .aboutRightContainer button {
    width: 140px;
    height: 42px;
    font-size: 1rem;
  }
  #welcomeSection div {
    width: 43%;
    margin-inline: 25px;
  }
  #welcomeSection div h5 {
    font-size: 2.2rem;
  }
  .productItemContainer {
    margin-left: 20px;
    height: 150px;
  }
  .productItemIcon span {
    margin-left: 20px;
    transform: scale(1.7);
  }

  .productItemTXT h5 {
    font-size: 1.3rem;
  }

  .productItemTXT p {
    font-size: 0.9rem;
  }

  .productRight div img {
    width: 90%;
  }
  .cooperationFlex {
    flex-direction: column;
  }

  .cooperationLeft,
  .cooperationRight {
    width: 90%;
  }
  .cooperationLeftTXT h4 {
    font-size: 2rem;
  }
  .cooperationLeftTXT p {
    font-size: 0.9rem;
    line-height: 24px;
  }

  .cooperationLeftIMG img {
    height: 320px;
  }

  .cooperationCardTXT h5 {
    font-size: 1.3rem;
  }
  .cooperationNumber p {
    font-size: 2.5rem;
    padding-inline: 8px;
  }
  .objectFlex {
    width: 98.5%;
  }
  .objectLeft,
  .objectRight {
    width: 50%;
  }

  .objectLeft {
    margin-right: 5px;
  }

  .objectLeft h2 {
    font-size: 2.5rem;
  }
  .objectLeft p {
    font-size: 0.9rem;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .objectLeft button {
    font-size: 1rem;
    width: 170px;
    height: 47px;
  }

  .objectIMG {
    width: 100%;
  }
  .objectIMG img {
    height: 200px;
  }
  .contactText {
    width: 75%;
  }

  .contactText h3 {
    font-size: 2rem;
  }

  .contactText p {
    font-size: 0.95rem;
  }

  .contactCard {
    width: 170px;
    height: 150px;
    border-radius: 25px;
  }

  .contactCard span {
    transform: scale(2);
  }

  .footerTopContent h4 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  #firstSection {
    width: 90%;
  }
  .topFlex,
  .bottomFlex {
    flex-direction: column;
    justify-content: center;
  }

  .firstSectionDivDesing {
    width: 100%;
  }

  .textCard p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .aboutLeft,
  .aboutRight {
    width: 100%;
  }

  .aboutRightContainer {
    margin-top: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  #welcomeSection div {
    margin-inline: 0px;
    flex-direction: column;
    width: 90%;
    margin-top: 100px;
  }

  .aboutFlex {
    flex-direction: column;
  }
  .productLeft,
  .productRight {
    width: 100%;
  }

  .productFlex {
    flex-direction: column;
  }
  .productItemContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .productRight div {
    margin-top: 20px;
  }

  .productRight div img {
    width: 60%;
  }

  .objectFlex {
    width: 96%;
    flex-direction: column;
  }

  .objectLeft,
  .objectRight {
    width: 100%;
  }

  .objectLeft {
    margin-bottom: 50px;
  }

  .contactText {
    width: 95%;
  }

  .contactCard {
    width: 170px;
    height: 130px;
    border-radius: 20px;
    margin-inline: 10px;
  }
  .contactCard span {
    transform: scale(1.7);
  }

  .footerBottomContent a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 499px) {
  #firstSection {
    width: 95.5%;
  }

  .textCard p {
    width: 95%;
  }
  #welcomeSection div {
    width: 98%;
    margin-top: 70px;
  }

  .productItemContainer {
    width: 98%;
    height: 200px;
  }

  .productItemIcon span {
    margin-right: 19px;
  }

  .cooperationLeft,
  .cooperationRight {
    width: 98%;
  }

  .cooperationCard {
    padding-inline: 5px;
    height: initial;
  }
  .objectIMG img {
    height: 150px;
  }

  .contactText {
    width: 98%;
    margin-bottom: 40px;
  }
  .contactFlex {
    flex-wrap: wrap;
  }
  .contactCard {
    width: 140px;
    margin-top: 0px;
  }

  .footerBottomContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerBottomContent a {
    font-size: 0.9rem;
    margin-inline: 7px;
    margin-top: 10px;
  }
}
