@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#html,
#body {
  background-color: #131111;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px; /* Širina skrol trake */
}

::-webkit-scrollbar-thumb {
  background-color: #009900; /* Boja trake skrola */
  border-radius: 5px; /* Zaobljenost ivica trake skrola */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #009900;
}

#openNavModal:focus {
  box-shadow: none;
}

#navMenu nav {
  padding-inline: 30px;
}

.welcomeFlex {
  display: flex;
  align-items: center;
  height: 95vh;
}
.welcomeLeft {
  background-color: #00000033;
}
.welcomeLeft,
.welcomeRight {
  width: 50%;
  height: 100%;
}

.welcomeLeftContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.welcomeLeftContainer h2 {
  font-size: 4rem;
}

.welcomeLeftContainer p {
  font-size: 1.1rem;
  line-height: 30px;
  margin-top: 20px;
}
.welcomeLeftContainer a {
  text-decoration: none;
}
.welcomeLeftContainer button {
  width: 250px;
  height: 55px;
  color: whitesmoke;
  font-size: 1.5rem;
  background-color: #05b805e8;
  border: none;
  margin-top: 20px;
  border-radius: 60px;
  transition: all 0.5s;
  cursor: pointer;
}

.welcomeLeftContainer button:hover {
  background-color: #05b8059a;
}

.welcomeRightIMG {
  height: 100%;
}

.welcomeRightIMG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%);
}

#services {
  margin-top: 50px;
}

.servicesTitle {
  text-align: center;
}

.servicesTitle h3 {
  font-size: 4rem;
}
.servicesTitle p {
  font-size: 0.95rem;
}
.servicesTopContainer,
.servicesBottomContainer {
  display: flex;
  justify-content: center;
}
.servicesCard {
  margin-top: 50px;
}

.servicesCard {
  background-color: #3f3e3ed3;
  margin-inline: 10px;
  width: 330px;
  height: 250px;
  border-radius: 30px;
  display: grid;
  place-content: center;
  text-align: center;
}

.servicesCard i {
  font-size: 4.5rem;
  background-color: #009900;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-left: auto;
  margin-right: auto;
}
.servicesCard h6 {
  margin-top: 10px;
  font-size: 2rem;
}

#aboutUs {
  margin-top: 100px;
  background-color: #00ec0067;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.aboutUsContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.aboutUsFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUsLeft,
.aboutUsRight {
  width: 50%;
}

.aboutUsRightContainer {
  margin-left: 200px;
}

.aboutUsLeftContainer h3 {
  font-size: 3.7rem;
}

.aboutUsFirstText {
  font-size: 1.5rem;
}

.aboutUsSecoundText {
  font-size: 1.1rem;
  line-height: 30px;
}

.aboutUsRightContainer {
  margin-top: 20px;
}

.aboutUsStep {
  margin-top: 20px;
}

.aboutUsStep h6 {
  font-size: 1.2rem;
}
.aboutUsStep a,
.aboutUsStep p {
  color: #0f0f0f;
}
